/* ============== import area start here =================== */
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200;300;400;500;600;700;800;900&family=Oswald:wght@200;300;400;500;600;700&display=swap");
/* ============== import area end here =================== */
/* ============ css variables ============= */
:root {
  /* === font family === */
  --oswald-font: "Oswald", sans-serif;
  --barlow-font: "Barlow Condensed", sans-serif;
  /* === font family === */
  /* === font weight === */
  --light-weight: 300;
  --regular-weight: 400;
  --medium-weight: 500;
  --semi-bold-weight: 600;
  --bold-weight: 700;
  /* === font weight === */
  /* === font size === */
  --pera-font-size: 16px;
  /* === font size === */
  /* === colors === */
  --white-clr: #fff;
  --secondary-text-clr: #dddddd;
  --primary-clr: #ff4655;
  --primary-bg-clr: #121212;
  --secondary-bg-clr: #191919;
  --black-clr: #000;
  /* === colors === */
  /* === method === */
  --transition: all 0.3s linear;
  /* === method === */
}
/* ============ css variables ============= */

/* ============= common css start here ================ */
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}
ul,
ol,
menu {
  list-style-type: none;
}
a {
  text-decoration: none;
  display: inline-block;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
menu,
div {
  margin: 0;
  padding: 0;
}
img {
  vertical-align: middle;
}
body {
  position: relative;
}
.container {
  max-width: 1320px;
  margin: 0 auto;
}
.dis--flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.common__btn {
  padding: 13px 24px;
  font-family: var(--oswald-font);
  font-weight: var(--regular-weight);
  font-size: var(--pera-font-size);
  color: var(--primary-bg-clr);
  background-color: var(--white-clr);
  vertical-align: middle;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
/* ============= common css end here ================ */

/* =============== navBar css start here ================= */
#nav {
  width: 100%;
  background-color: transparent;
  padding: 25px 0;
  position: absolute;
  left: 0;
  top: 0;
}
.nav__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav__logo {
  max-width: 124px;
  max-height: 42px;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
}
.nav__logo picture img {
  width: 100%;
  height: 100%;
}
.nav__menu {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 30px;
  margin: 0 454px 0 60px;
}
.nav__item {
  font-family: var(--oswald-font);
  color: var(--secondary-text-clr);
  font-weight: var(--regular-weight);
  font-size: var(--pera-font-size);
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
.nav__item:hover {
  color: var(--primary-clr);
}
.nav__icon__wrapper {
  display: flex;
  align-items: center;
  column-gap: 25px;
}
.nav__icon {
  color: var(--white-clr);
  font-weight: var(--regular-weight);
  font-size: 22px;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
.nav__icon:hover {
  color: var(--primary-clr);
}

.nav--singIN {
  font-size: var(--pera-font-size);
  padding-left: 7px;
}

/* =============== navBar css end here ================ */
/* =============== banner section css start here ================ */
#banner {
  max-width: 100%;
  padding: 337px 0 103px 0;
  background-image: url(../images/banner_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.banner__content {
  font-family: var(--oswald-font);
  color: var(--white-clr);
}
.banner__heading_top {
  font-weight: var(--regular-weight);

  font-size: 27px;
}
.banner__heading {
  font-weight: var(--semi-bold-weight);
  font-size: 60px;
  line-height: 1.5;
  position: relative;
}
.banner__heading::after {
  position: absolute;
  content: "";
  width: 90px;
  height: 4px;
  background-color: var(--white-clr);
  bottom: 18px;
  left: 520px;
}
.banner__details {
  max-width: 523px;
  font-weight: var(--regular-weight);
  font-size: var(--pera-font-size);
  line-height: 1.5;
  padding-bottom: 48px;
}
.banner--btn {
  margin-bottom: 300px;
}
.banner--btn:hover {
  color: var(--white-clr);
  background-color: var(--primary-clr);
}
.banner__icon__wrapper {
  display: flex;
  align-items: center;
  column-gap: 20px;
}
.banner__iconBody {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: #d9d9d9;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
.banner__iconBody:hover {
  background-color: var(--primary-clr);
}
.banner__icon {
  font-size: 18px;
  color: var(--black-clr);
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
.banner__iconBody:hover .banner__icon {
  color: var(--white-clr);
}

/* =============== banner section css end here ================ */

/* =============== about section css start here ================ */
#about {
  width: 100%;
  background-color: var(--primary-bg-clr);
  padding: 34px 0 80px 0;
}
.about__sectionHeading {
  max-width: 518px;
  font-family: var(--oswald-font);
  font-weight: var(--semi-bold-weight);
  font-size: 38px;
  color: var(--white-clr);
  text-transform: uppercase;
  margin-bottom: 64px;
  position: relative;
}
.about__sectionHeading::after {
  position: absolute;
  content: "";
  height: 3px;
  width: 120px;
  background-color: var(--primary-clr);
  bottom: 10px;
  right: 200px;
}
.about__top {
  display: flex;
  padding-bottom: 50px;
}
.about__imagePart {
  max-width: 700px;
  max-height: 400px;
  /* overflow: hidden; */
  object-position: center;
  object-fit: cover;
  border-bottom-right-radius: 65px;
  position: relative;
  z-index: 101;
  padding-right: 82px;
}
.about__image {
  width: 100%;
  height: 100%;
}
.about__bgShape {
  width: 157px;
  height: 157px;
  background-color: var(--primary-clr);
  position: absolute;
  top: -7px;
  left: -7px;
  z-index: -100;
}

.about__contentHeading {
  font-family: var(--oswald-font);
  font-weight: var(--semi-bold-weight);
  font-size: 27px;
  color: var(--white-clr);
  text-transform: uppercase;
  padding-bottom: 7px;
}
.about__list {
  display: flex;
  flex-direction: column;
  row-gap: 7px;
  padding-bottom: 10px;
}
.about__listItem {
  font-family: var(--barlow-font);
  font-weight: var(--regular-weight);
  font-size: 18px;
  color: var(--white-clr);
}
.about__itemCheck {
  font-size: 15px;
  color: var(--primary-clr);
  padding-right: 10px;
}
.about_details {
  max-width: 468px;
  font-family: var(--oswald-font);
  font-weight: var(--regular-weight);
  font-size: 18px;
  color: var(--white-clr);
  padding-bottom: 30px;
}
.about--btn {
  color: var(--white-clr);
  background-color: #212121;
}
.about--btn:hover {
  background-color: var(--primary-clr);
}
.about__counterWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.about__counterItem {
  width: 315px;
  background-color: #212121;
  text-align: center;
  padding: 26px 0;
  color: var(--white-clr);
  border-radius: 0 50px 0 50px;
  -webkit-border-radius: 0 50px 0 50px;
  -moz-border-radius: 0 50px 0 50px;
  -ms-border-radius: 0 50px 0 50px;
  -o-border-radius: 0 50px 0 50px;
}
.about__itemCount {
  font-family: var(--barlow-font);
  font-weight: var(--semi-bold-weight);
  font-size: 60px;
  margin-bottom: 15px;
  position: relative;
}
.about__itemCount::after {
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: var(--primary-clr);
  bottom: 11px;
  right: 95px;
}
.about__itemName {
  font-family: var(--oswald-font);
  font-weight: var(--light-weight);
  font-size: 18px;
}
/* =============== about section css end here ================ */
