/* ============== import area start here =================== */
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200;300;400;500;600;700;800;900&family=Oswald:wght@200;300;400;500;600;700&display=swap");
/* ============== import area end here =================== */
/* ============ css variables ============= */
:root {
  /* === font family === */
  --oswald-font: "Oswald", sans-serif;
  --barlow-font: "Barlow Condensed", sans-serif;
  /* === font family === */
  /* === font weight === */
  --light-weight: 300;
  --regular-weight: 400;
  --medium-weight: 500;
  --semi-bold-weight: 600;
  --bold-weight: 700;
  /* === font weight === */
  /* === font size === */
  --pera-font-size: 16px;
  /* === font size === */
  /* === colors === */
  --white-clr: #fff;
  --secondary-text-clr: #dddddd;
  --third-text-clr: #666666;
  --primary-clr: #ff4655;
  --primary-bg-clr: #121212;
  --secondary-bg-clr: #191919;
  --third-bg-clr: #212121;
  --black-clr: #000;
  /* === colors === */
  /* === method === */
  --transition: all 0.3s linear;
  /* === method === */
}
/* ============ css variables ============= */

/* ============= common css start here ================ */
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}
ul,
ol,
menu {
  list-style-type: none;
}
a {
  text-decoration: none;
  display: inline-block;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
menu,
div {
  margin: 0;
  padding: 0;
}
img {
  vertical-align: middle;
}
body {
  position: relative;
}
.container {
  max-width: 1320px;
  margin: 0 auto;
}
.dis--flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.common__btn {
  padding: 13px 24px;
  font-family: var(--oswald-font);
  font-weight: var(--regular-weight);
  font-size: var(--pera-font-size);
  color: var(--primary-bg-clr);
  background-color: var(--white-clr);
  vertical-align: middle;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
.common__sectionHeading {
  font-family: var(--oswald-font);
  font-weight: var(--semi-bold-weight);
  font-size: 38px;
  color: var(--white-clr);
  text-transform: uppercase;
  letter-spacing: 2.6px;
}
/* ============= common css end here ================ */

/* =============== navBar css start here ================= */
#nav {
  width: 100%;
  background-color: var(--secondary-bg-clr);
  padding: 25px 0;
  position: sticky;
  left: 0;
  top: 0;
  z-index: 9999;
}
.nav__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav__logo {
  max-width: 124px;
  max-height: 42px;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
}
.nav__logo picture img {
  width: 100%;
  height: 100%;
}
.nav__menu {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 30px;
  margin: 0 454px 0 60px;
}
.nav__item {
  font-family: var(--oswald-font);
  color: var(--secondary-text-clr);
  font-weight: var(--regular-weight);
  font-size: var(--pera-font-size);
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
  /* position: relative;
  padding: 3px 2px; */
}
.nav__item:hover {
  color: var(--primary-clr);
}
/* .nav__item::after {
  position: absolute;
  content: "";
  width: 100%;
  height: calc(100% + 10px);
  left: 0;
  top: -5px;
  border-left: 2px solid var(--primary-clr);
  border-right: 2px solid var(--primary-clr);
  transform: scale(1, 0);
  transition: all 0.3s linear;
}
.nav__item::before {
  position: absolute;
  content: "";
  width: calc(100% + 10px);
  height: 100%;
  top: 0;
  left: -5px;
  border-top: 2px solid var(--primary-clr);
  border-bottom: 2px solid var(--primary-clr);
  transform: scale(0, 1);
  transition: all 0.3s linear;
}
.nav__item:hover::after {
  transform: scale(1, 1);
}
.nav__item:hover::before {
  transform: scale(1, 1);
} */
.nav__icon__wrapper {
  display: flex;
  align-items: center;
  column-gap: 25px;
}
.nav__icon {
  font-family: var(--oswald-font);
  color: var(--white-clr);
  font-weight: var(--regular-weight);
  font-size: 22px;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
.nav__icon:hover {
  color: var(--primary-clr);
}

.nav--singIN {
  font-size: var(--pera-font-size);
  padding-left: 7px;
}

/* =============== navBar css end here ================ */
/* =============== banner section css start here ================ */
#banner {
  max-width: 100%;
  padding: 337px 0 103px 0;
  background-image: url(../images/banner_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.banner__content {
  font-family: var(--oswald-font);
  color: var(--white-clr);
}
.banner__heading_top {
  font-weight: var(--regular-weight);

  font-size: 27px;
}
.banner__heading {
  font-weight: var(--semi-bold-weight);
  font-size: 60px;
  line-height: 1.5;
  position: relative;
}
.banner__heading::after {
  position: absolute;
  content: "";
  width: 90px;
  height: 4px;
  background-color: var(--white-clr);
  bottom: 18px;
  left: 520px;
}
.banner__details {
  max-width: 523px;
  font-weight: var(--regular-weight);
  font-size: var(--pera-font-size);
  line-height: 1.5;
  padding-bottom: 48px;
}
.banner--btn {
  margin-bottom: 300px;
}
.banner--btn:hover {
  color: var(--white-clr);
  background-color: var(--primary-clr);
}
.banner__icon__wrapper {
  display: flex;
  align-items: center;
  column-gap: 20px;
}
.banner__iconBody {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: #d9d9d9;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
.banner__iconBody:hover {
  background-color: var(--primary-clr);
}
.banner__icon {
  font-size: 18px;
  color: var(--black-clr);
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
.banner__iconBody:hover .banner__icon {
  color: var(--white-clr);
}

/* =============== banner section css end here ================ */

/* =============== about section css start here ================ */
#about {
  width: 100%;
  background-color: var(--primary-bg-clr);
  padding: 34px 0 80px 0;
}
.about--sectionHeading {
  max-width: 518px;
  margin-bottom: 64px;
  position: relative;
}
.about--sectionHeading::after {
  position: absolute;
  content: "";
  height: 3px;
  width: 120px;
  background-color: var(--primary-clr);
  bottom: 11px;
  right: 190px;
}
.about__top {
  display: flex;
  padding-bottom: 50px;
}
.about__imagePart {
  max-width: 700px;
  max-height: 400px;
  overflow: hidden;
  object-position: center;
  object-fit: cover;
  border-bottom-right-radius: 65px;
  position: relative;
  z-index: 101;
  padding-right: 82px;
}
.about__image {
  width: 100%;
  height: 100%;
}
.about__bgShape {
  width: 157px;
  height: 157px;
  background-color: var(--primary-clr);
  position: absolute;
  top: -7px;
  left: -7px;
  z-index: -100;
}

.about__contentHeading {
  font-family: var(--oswald-font);
  font-weight: var(--semi-bold-weight);
  font-size: 27px;
  color: var(--white-clr);
  text-transform: uppercase;
  padding-bottom: 7px;
}
.about__list {
  display: flex;
  flex-direction: column;
  row-gap: 7px;
  padding-bottom: 10px;
}
.about__listItem {
  font-family: var(--barlow-font);
  font-weight: var(--regular-weight);
  font-size: 18px;
  color: var(--white-clr);
}
.about__itemCheck {
  font-size: 15px;
  color: var(--primary-clr);
  padding-right: 10px;
}
.about_details {
  max-width: 468px;
  font-family: var(--oswald-font);
  font-weight: var(--regular-weight);
  font-size: 18px;
  color: var(--white-clr);
  padding-bottom: 30px;
}
.about--btn {
  color: var(--white-clr);
  background-color: #212121;
}
.about--btn:hover {
  background-color: var(--primary-clr);
}
.about__counterWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.about__counterItem {
  width: 315px;
  background-color: var(--third-bg-clr);
  text-align: center;
  padding: 26px 0;
  color: var(--white-clr);
  border-radius: 0 50px 0 50px;
  -webkit-border-radius: 0 50px 0 50px;
  -moz-border-radius: 0 50px 0 50px;
  -ms-border-radius: 0 50px 0 50px;
  -o-border-radius: 0 50px 0 50px;
}
.about__itemCount {
  font-family: var(--barlow-font);
  font-weight: var(--semi-bold-weight);
  font-size: 60px;
  margin-bottom: 15px;
  position: relative;
}
.about__itemCount::after {
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: var(--primary-clr);
  bottom: 11px;
  right: 95px;
}
.about__itemName {
  font-family: var(--oswald-font);
  font-weight: var(--light-weight);
  font-size: 18px;
}
/* =============== about section css end here ================ */
/* =============== games section css start here ================ */
#games {
  padding: 115px 0 90px 0;
  background-color: var(--secondary-bg-clr);
}
.games__wrapper {
  position: relative;
}
.games__sectionHeading {
  position: absolute;
  top: 0;
  right: 0;
}

.games--sectionTitle {
  text-align: end;
  max-width: 527px;
  position: relative;
}
.games--sectionTitle::before {
  position: absolute;
  content: "";
  width: 120px;
  height: 3px;
  background-color: var(--primary-clr);
  bottom: 11px;
  right: 130px;
}
.games__sliderWrapper {
  display: flex;
  justify-content: space-between;
  align-items: end;
  column-gap: 20px;
}
.games__sliderItem {
  width: 50%;
  height: auto;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
}
.games__sliderItemImg {
  width: 100%;
  height: 100%;
}
.games__slideBtnWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: absolute;
  right: 16px;
  bottom: 22px;
}
.games__sliderBtn {
  width: 40px;
  height: 40px;
  border: 1px solid var(--white-clr);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white-clr);
  cursor: pointer;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
.games__sliderBtn:hover {
  background-color: var(--primary-clr);
}
/* =============== games section css end here ================ */
/* =============== streaming section css start here ================ */
#streaming {
  padding: 90px 0;
  background-color: var(--primary-bg-clr);
}
.streaming--sectionHeading {
  max-width: 446px;
  position: relative;
  margin-bottom: 68px;
}
.streaming--sectionHeading::after {
  position: absolute;
  content: "";
  width: 120px;
  height: 3px;
  background-color: var(--primary-clr);
  bottom: 11px;
  right: 175px;
}
.streaming__videoWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 70px;
}
.streaming__item {
  max-width: 427px;
  max-height: 275px;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
  position: relative;
  cursor: pointer;
}
.streaming__itemImage {
  width: 100%;
  height: 100%;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
.streaming__item:hover .streaming__itemImage {
  filter: grayscale(0);
  -webkit-filter: grayscale(0);
}

.streaming__itemOverlay {
  width: 100%;
  height: 100%;
  position: absolute;
  color: var(--white-clr);
  z-index: 100;
  top: 0;
  left: 0;
  padding: 0 25px 25px;
  padding-top: 47%;
}
.streaming__palyIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  color: var(--white-clr);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 1px solid var(--white-clr);
  font-size: 20px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.streaming__overlayContent {
  display: flex;
  align-items: end;
  justify-content: space-between;
}
.steaming__overlayTitleHeading {
  font-family: var(--barlow-font);
  font-weight: var(--semi-bold-weight);
  font-size: 22px;
  padding-bottom: 5px;
}
.steaming__overlayTitleName,
.streaming__liveText {
  font-family: var(--oswald-font);
  font-weight: var(--light-weight);
  font-size: 16px;
}
.streaming__liveText {
  font-weight: var(--regular-weight);
  position: relative;
}
.streaming__liveText::before {
  position: absolute;
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: var(--primary-clr);
  bottom: 5px;
  left: -14px;
}
.streaming__matchHeading {
  font-family: var(--barlow-font);
  font-weight: var(--medium-weight);
  font-size: 25px;
  color: var(--white-clr);
  text-align: center;
  letter-spacing: 2px;
  padding-bottom: 50px;
}
.streaming__matchTeamWrapper {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.streaming__matchItemWrapper {
  display: flex;
  justify-content: space-evenly;
}
.streaming__matchItem {
  width: 426px;
  padding: 10px 5px;
  background-color: var(--third-bg-clr);
  display: flex;
  align-items: center;
  column-gap: 120px;
  clip-path: polygon(0 0, 100% 0, 87% 100%, 0% 100%);
  font-family: var(--barlow-font);
  font-weight: var(--regular-weight) !important;
  font-size: 32px;
  color: var(--white-clr);
}
.streaming__matchItemImage {
  width: 100px;
  height: 98px;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
}
.streaming__matchItem:nth-child(2) {
  font-family: var(--oswald-font);
  background-color: transparent;
  font-size: 40px;
  justify-content: center;
  width: auto;
}
.streaming__matchItem:nth-child(3) {
  flex-direction: row-reverse;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 13% 100%);
}
/* =============== streaming section css end here ================ */
/* =============== sale section css start here ================ */
#sale {
  padding: 90px 0;
  background-color: var(--secondary-bg-clr);
}
.sale__sectionHeading {
  display: flex;
  justify-content: end;
  text-align: end;
  padding-bottom: 50px;
}
.sale--sectionTitle {
  max-width: 520px;
  position: relative;
}
.sale--sectionTitle::before {
  position: absolute;
  content: "";
  width: 120px;
  height: 3px;
  background-color: var(--primary-clr);
  bottom: 11px;
  right: 90px;
}
.sale__itemWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 60px;
}
.sale__item {
  width: 315px;
  cursor: pointer;
}
.sale__itemImage {
  width: 100%;
  height: 430px;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
  position: relative;
  padding-bottom: 18px;
}
.sale__image {
  width: 100%;
  height: 100%;
}
.sale__addToCart {
  position: absolute;
  top: 14px;
  right: 14px;
  width: 30px;
  height: 30px;
  border: 1px solid var(--white-clr);
  color: var(--white-clr);
  background-color: var(--black-clr);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: var(--bold-weight);
  opacity: 0;
}
.sale__item:hover .sale__addToCart {
  opacity: 1;
}
.sale__itemTitle {
  font-family: var(--barlow-font);
  font-weight: var(--semi-bold-weight);
  font-size: 22px;
  color: var(--white-clr);
  padding-bottom: 20px;
}
.sale__itemName {
  font-family: var(--oswald-font);
  font-weight: var(--regular-weight);
  font-size: 16px;
  color: var(--third-text-clr);
  padding-bottom: 20px;
}
.sale__itemPrice {
  font-family: var(--oswald-font);
  font-weight: var(--regular-weight);
  font-size: 16px;
  color: var(--white-clr);
  display: flex;
  column-gap: 10px;
  align-items: center;
}
.sale__itemDiscount {
  background-color: var(--primary-clr);
  padding: 2px;
}
.sale__prePrice {
  color: var(--third-text-clr);
}
.sale__catalog {
  font-family: var(--barlow-font);
  font-weight: var(--medium-weight);
  font-size: 20px;
  color: var(--white-clr);
  padding-bottom: 30px;
}
.sale__favoritePartWrapper {
  padding: 45px;
  background-color: var(--third-bg-clr);
  display: flex;
  align-items: center;
}
.sale__favoriteContentWrapper {
  max-width: 710px;
  padding-right: 134px;
}
.sale__favoriteTitle {
  font-family: var(--oswald-font);
  font-weight: var(--medium-weight);
  font-size: 16px;
  color: var(--primary-clr);
  padding-bottom: 15px;
}
.sale__favoriteHeading {
  font-family: var(--barlow-font);
  font-weight: var(--semi-bold-weight);
  font-size: 38px;
  color: white;
  padding-bottom: 16px;
  text-transform: uppercase;
}
.sale__favoriteDetails {
  font-family: var(--oswald-font);
  font-weight: var(--semi-bold-weight);
  font-size: 16px;
  color: var(--third-text-clr);
  padding-bottom: 25px;
}
.sale--btn {
  padding: 13px 30px;
  background-color: var(--primary-bg-clr);
  color: var(--white-clr);
}
.sale--btn:hover {
  background-color: var(--primary-clr);
}
.sale__favoriteItemWrapper {
  width: 426px;
  height: 409px;
  position: relative;
}
.sale__favoriteItemImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.sale__favoriteItem {
  width: 254px;
  height: 370px;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  z-index: 505;
}
.sale__favoriteItem:nth-child(4) {
  left: 0;
  top: unset;
  bottom: 0;
  transform: translate(-0%);
  -webkit-transform: translate(-0%);
  -moz-transform: translate(-0%);
  -ms-transform: translate(-0%);
  -o-transform: translate(-0%);
  z-index: 501;
}
.sale__favoriteItem:nth-child(5) {
  right: 0;
  top: unset;
  left: unset;
  bottom: 0;
  transform: translate(-0%);
  -webkit-transform: translate(-0%);
  -moz-transform: translate(-0%);
  -ms-transform: translate(-0%);
  -o-transform: translate(-0%);
  z-index: 502;
}
.sale__favoriteItem:nth-child(2) {
  right: unset;
  top: unset;
  left: 10%;
  bottom: 5%;
  transform: translate(-0%);
  -webkit-transform: translate(-0%);
  -moz-transform: translate(-0%);
  -ms-transform: translate(-0%);
  -o-transform: translate(-0%);
  z-index: 503;
}
.sale__favoriteItem:nth-child(3) {
  right: 10%;
  top: unset;
  left: unset;
  bottom: 5%;
  transform: translate(-0%);
  -webkit-transform: translate(-0%);
  -moz-transform: translate(-0%);
  -ms-transform: translate(-0%);
  -o-transform: translate(-0%);
  z-index: 504;
}

/* =============== sale section css end here ================ */
/* =============== accessories section css start here ================ */
#accessories {
  padding: 90px 0;
  background-color: var(--primary-bg-clr);
}
.accessories--sectionHeading {
  max-width: 446px;
  position: relative;
  margin-bottom: 103px;
}
.accessories--sectionHeading::after {
  position: absolute;
  content: "";
  height: 3px;
  width: 120px;
  background-color: var(--primary-clr);
  bottom: 11px;
  right: 105px;
}
.accessories__itemWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.accessories__item {
  width: 315px;
  height: 465px;
  background-color: var(--third-bg-clr);
  padding: 24px 38px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  border: 2px solid transparent;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
.accessories__item:hover {
  border: 2px solid var(--primary-clr);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.accessories__price {
  font-family: var(--oswald-font);
  font-weight: var(--medium-weight);
  font-size: 40px;
  color: var(--white-clr);
  padding-bottom: 7px;
}
.accessories__imagesWrapper {
  max-width: 250px;
  max-width: 250px;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
  padding-bottom: 45px;
}
.accessories__images {
  width: 100%;
  height: 100%;
}
.accessories__name {
  font-family: var(--oswald-font);
  font-weight: var(--semi-bold-weight);
  font-size: 25px;
  color: var(--white-clr);
  padding-bottom: 25px;
}
.accessories__addToCart {
  font-family: var(--oswald-font);
  font-weight: var(--semi-bold-weight);
  font-size: 16px;
  color: var(--primary-clr);
  text-transform: uppercase;
}
/* =============== accessories section css end here ================ */
/* =============== team section css start here ================ */
#team {
  padding: 100px 0;
  background-color: var(--secondary-bg-clr);
}
.team__sectionHeading {
  display: flex;
  justify-content: end;
}
.team--sectionTitle {
  text-align: end;
  max-width: 550px;
  position: relative;
  margin-bottom: 50px;
}
.team--sectionTitle::before {
  position: absolute;
  content: "";
  width: 120px;
  height: 3px;
  background-color: var(--primary-clr);
  bottom: 11px;
  right: 98px;
}
.team__itemWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 30px;
}
.team__item {
  max-width: 650px;
  max-height: 430px;
  cursor: pointer;
}
.team__imageWrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
  position: relative;
}
.team__image {
  width: 100%;
  height: 100%;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
.team__overlay {
  padding: 25px 30px;
  position: absolute;
  width: 100%;
  height: 50%;
  left: 0;
  bottom: -30%;
  background-color: rgba(37, 36, 36, 0.38);
  display: flex;
  justify-content: space-between;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
.team__item:hover .team__image {
  filter: grayscale(0);
  -webkit-filter: grayscale(0);
}
.team__item:hover .team__overlay {
  bottom: 0;
}
.team__contentWrapper {
  width: 300px;
}
.team__name {
  font-family: var(--barlow-font);
  font-weight: var(--semi-bold-weight);
  font-size: 30px;
  color: var(--white-clr);
  padding-bottom: 25px;
}
.team__details {
  font-family: var(--oswald-font);
  font-weight: var(--regular-weight);
  font-size: 16px;
  color: var(--white-clr);
  padding-bottom: 20px;
}
.team--btn {
  font-family: var(--oswald-font);
  font-weight: var(--regular-weight);
  font-size: 16px;
  color: var(--white-clr);
  background-color: var(--primary-clr);
  padding: 5px 20px;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
.team--btn:hover {
  color: var(--primary-clr);
  background-color: var(--white-clr);
}
.team__socialIconWrapper {
  display: flex;
  column-gap: 20px;
  align-items: end;
}
.team__socialIcon {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white-clr);
  background-color: var(--primary-clr);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
.team__socialIcon:hover {
  color: var(--primary-clr);
  background-color: var(--white-clr);
}

/* =============== team section css end here ================ */
/* =============== faq section css start here ================ */
#faq {
  padding: 55px 0 200px 0;
  background-color: var(--primary-bg-clr);
}
.faq--sectionHeading {
  max-width: 520px;
  position: relative;
  margin-bottom: 92px;
}
.faq--sectionHeading::after {
  position: absolute;
  content: "";
  height: 3px;
  width: 120px;
  background-color: var(--primary-clr);
  bottom: 11px;
  right: 5px;
}
.faq__itemWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 150px;
  position: relative;
}
.faq__itemWrapper::after{
  position: absolute;
  content: '';
  height: 1px;
  width: 100%;
  background-color: var(--third-text-clr);
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.faq__itemWrapper::before{
  position: absolute;
  content: '';
  width: 1px;
  height: 100%;
  background-color: var(--third-text-clr);
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.faq__itemContentWrapper {
  display: flex;
  gap: 42px;
  width: 540px;
  color: var(--white-clr);
}
.faq__serial {
  width: 70px;
  height: 70px;
  background-color: var(--primary-clr);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--barlow-font);
  font-weight: var(--semi-bold-weight);
  font-size: 38px;
}
.faq__details{
  width: 427px;
}
.faq__question{
  font-family: var(--barlow-font);
  font-weight: var(--semi-bold-weight);
  font-size: 22px;
  color: var(--primary-clr);
  padding-bottom: 11px;
  text-transform: uppercase;
}
.faq__answer{
  font-family: var(--oswald-font);
  font-weight: var(--regular-weight);
  font-size: 16px;
  color: var(--third-text-clr);
}
/* =============== faq section css end here ================ */
